* {
  margin: 0;
  padding: 0;
  font-family: "Philosopher", sans-serif;
}

.corpo {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.barralateral {
  position: fixed;
  background-color: #007a87;
  width: 35%;
  height: 100%;
}

.barralateral img {
  position: relative;
  width: 100%;
  height: 100%;
}

#msgSucesso,
#msgSucesso2 {
  display: none;
  position: fixed;
  top: 1rem;
  left: 50%;
  transition: translateX(-50%);
  z-index: 9999;
}

#logout {
  position: absolute;
  margin-left: 1150px;
  margin-top: -44px;
  border: none;
  background-color: red;
  color: white;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  border-radius: 5px;
}

#save {
  position: absolute;
  margin-left: 1070px;
  margin-top: -44px;
  background-color: #007a87;
  cursor: pointer;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
}

.principal div.botao2 {
  margin-top: 5px;
}

.principal {
  position: relative;
  float: right;
  width: 65%;
  height: 100vh;
  margin-top: 19%;
}

.principal button.botao1 {
  border-radius: 5px;
  color: white;
  border-style: none;
  background-color: #007a87;
  padding-left: 182px;
  padding-right: 182px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 15px;
  margin-left: 298px;
  cursor: pointer;
  font-size: 13px;
}

#salvar {
  border-radius: 5px;
  color: white;
  border-style: none;
  background-color: #007a87;
  padding-left: 145px;
  padding-right: 145px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 30px;
  margin-left: 298px;
  cursor: pointer;
  font-size: 13px;
}

.principal a {
  position: relative;
  text-decoration: none;
  color: #007a87;
  margin-left: 462px;
  font-size: 13px;
}

section.recados h1 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 7%;
  margin-left: 40%;
  color: #007a87;
}

#legenda {
  color: #007a87;
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
}

section.principal h2 {
  font-size: 20px;
  margin-left: 329px;
  color: #007a87;
}
section.principal h3 {
  margin-top: -40px;
  margin-left: 477px;
  color: #007a87;
}
#emailUsuario,
#emailCadastrado {
  margin-left: 298px;
}

#emailUsuario,
#senhaUsuario,
#novoSenhaUsuario,
#emailCadastrado,
#novoSenhaUsuarioRepeat {
  position: relative;
  border-color: rgb(214, 209, 209);
  padding: 8px;
  margin-top: 32px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
}

#novoSenhaUsuario,
#novoNomeUsuario,
#novoSenhaUsuarioRepeat,
#emailCadastrado {
  margin-left: 300px;
  padding-right: 80px;
}
#descricao,
#detalhamento {
  position: relative;
  border-color: rgb(214, 209, 209);
  padding: 8px;
  margin-left: 30px;
  margin-top: 32px;
  margin-bottom: 5px;
  padding-left: 300px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
}

#cabecalhoRecados {
  width: 87%;
  color: #007a87;
  margin-left: 30px;
  margin-top: 30px;
  border-top: 1px solid #8d9596;
  border-bottom: 1px solid #8d9596;
}
